
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>

    </head>
    <body>

        <form name="myRedirectForm" action="" th:action="${acmUrl}" method="post">
            <input name="msToken" type="hidden" value="" th:value="${msToken}" />
            <noscript>
            <input type="submit" value="Click here to continue" />
            </noscript>
        </form>
        <script type="text/javascript">

            (function () {
                document.forms["myRedirectForm"].submit();
            })();

        </script>
    </body>
</html>
